@import 'mixins.scss';
@import 'vars1.scss';

body {
    @include backgroundTexture('../images/green-fibers.png', $mainColor);
//    @include gradient
    color: $textColor;
    font: {
        family: $mainFont;
        size: 13px
    }
    line-height: 1.1 em; 
}

body:before {
    /* puts a gradient on top of the background image */
    content: " ";
    z-index: -1;
    @include pageBG;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#content {
    @include corners($accent, 3px, 3px, 3px, 3px, 1px);
    @include divFix;
    @include gradient(darken($content, 30%), darken($content, 10%), 100%);
    margin-top: $headerHeight;
    padding: 2% 2% 6% 2%;
    height: 75%
}

#nav {
    ul {
        list-style-type: none; 
        @include marginFix;
        position: relative; 
        top: 60px;
        left: -30px;
        padding: 0px;
        li {
            @include corners($accent, 5px, 5px, 5px, 5px, 1px);
            @include divFix;
            @include gradient(lighten($nav, 10%), $nav, 100%);
            padding: 1%;
            float: left;
            text-align: center;
            display: inline-block;

        }
    }
}

#header {
    height: $headerHeight; 
    padding-top: 2%;
    em {
        font-family: $mainFont; 
        style: italic;
    }
    h1, h3 {
        display: inline;
        @include marginFix;
        font: {
            family: $headers; 
            weight: 400; 
        }
    }
}

#sidebar {
    margin-top: $headerHeight;
    text-align: center;
    hr {
        width: 75%;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba($mainColor, 0.75), rgba(0,0,0,0)); 
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba($mainColor, 0.75), rgba(0,0,0,0)); 
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba($mainColor, 0.75), rgba(0,0,0,0)); 
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba($mainColor, 0.75), rgba(0,0,0,0)); 
    }
}

#team {
    @extend #content; 
    text-align: center; 
    h2 { 
        @include marginFix; 
        font: { 
            family: $headers; 
            weight: 400; 
        }
        float: left;
        & + * {
            clear: left; 
        }
    }
    .imageSpotlight {
        @include corners($content, 500px, 500px, 500px, 500px, 0px);
        width: 220px;
        height: 220px;
    }

    #richard {
        @include backgroundTexture('../images/pinstriped_suit.png', $content);
        @include corners($accent, 3px, 3px, 3px, 3px, 1px)
    }
    #max {
        @include backgroundTexture('../images/robots.png', $content);
        @include corners($accent, 3px, 3px, 3px, 3px, 1px)
    }
}