// Color Scheme 
// http://colorschemedesigner.com/#3861TuQatw0w0

// Main Color 
$mainColor: #023727; // Dark Green 
$accent: #34649b; // blue 
$content: #2B9B79; // light green
$nav: #012419; // Dark Dark Green
$textColor: #FFFFF0; // Ivory

// Numbers 

$headerHeight: 5%;